/* bird */
.circle3 {
	--r: 65vmin;
	/* radius of the circle */
	--t: 8;
	/* total number of books */
	position: relative;
	--w: calc(var(--r) * 1.2);
	/* the top of the book is 20% out further than the edge of the circle */
	width: calc(2 * var(--w));
	height: calc(2 * var(--w));
	margin: 0;
	padding: 0;
	animation: rotate3 20s linear infinite;
	animation-fill-mode: forwards;
}

@keyframes rotate3 {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(-360deg);
	}
}

.circle3::before {
	content: "";
	width: calc(2 * var(--r));
	aspect-ratio: 1 / 1;
	border: 1px solid black;
	border-radius: 50%;
	position: absolute;
	top: calc(var(--r) * 0.2);
	left: calc(var(--r) * 0.2);
	display: inline-block;
	margin: 0;
	padding: 0;
}

.book3 {
	height: calc(var(--r) * 1.2);
	width: calc(var(--r) / 5);
	position: absolute;
	bottom: var(--w);
	left: calc(var(--w) - (0.5 * var(--r) / 5));
	transform-origin: center bottom;
	transform: rotate(calc(var(--n) * 45deg));
	position: absolute;

	margin: 0;
	padding: 0;
}

.book3:nth-child(1) {
	--n: 1;
}

.book3:nth-child(2) {
	--n: 2;
}

.book3:nth-child(3) {
	--n: 3;
}

.book3:nth-child(4) {
	--n: 4;
}

.book3:nth-child(5) {
	--n: 5;
}

.book3:nth-child(6) {
	--n: 6;
}

.book3:nth-child(7) {
	--n: 7;
}

.book3:nth-child(8) {
	--n: 8;
}


.bird3 {
	background-image: url("./magpie.webp");
	background-size: contain;
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 20em;
	height: 20em;
	transform: rotate(180deg) scale(1, -1);



}